<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Learned how to create tables, numbered list and bullet list in markdown cells
- Learned how to apply different formatting styles to comments and text in markdown cells
- Learned basic arithmetic expressions for Python language

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|----------|
|Jupyter Notebook|
|R Studio|
|Spyder|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
#This a simple arithmetic expression to mutiply then add integers#
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60#
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

<h2>Author</h2>
<br>Da David Lin